
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
    padding-right: 4px;
    margin: 5px;
     color:crimson
}

#wraper{
  
    height:90vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
     border: 1px solid black;
    background-color: rgb(219, 54, 54);
    color:white;
    border-radius: 15px;
    padding: 10px 80px;
    font-size: 20px;
    letter-spacing: 3px;
    cursor:pointer;
}